body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  button {
    color: white;
    background-color: #3498db;
    border: none;
    padding: auto;
    text-align: center;
  }
  
  header {
    background-color: #3498db;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .product {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
  }
  
  
  .product {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
  }
  
  
  .product-details {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
  }

  .product-details img{
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .product img {
    max-width: 100%;
    width: 200px;
    height: 200px;
  }
  
  .product h2 {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .product p {
    color: #666;
  }
  
  .product button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: white;
  }

.container {
  width: 100%; 
}

.floating-element {
  float: left; 
  width: 33%; 
  margin-right: 10px; 
  background-color: lightblue;
  padding: 10px;
  box-sizing: border-box;
}
